.navbar{
    margin-top: 20px;
}
.container{
    margin-bottom:100px ;
}
.container-bg{
    background-color: #fceaeb;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#ff5898 0%,#ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: poter;
}
.cat1, .cat2, .cat3{
    padding: 10px 15px;
    border-radius: 10px;
}
.cat1{
    background-image: linear-gradient(to right, rgb(252, 174, 6) 0%,rgb(255, 123, 0) 100%);
}
.cat2{
    background-image: linear-gradient(to right, rgb(247, 8, 128),rgb(248, 3, 126));
}
.cat3{
    background-image: linear-gradient(to right, rgb(89, 89, 201), rgb(5, 5, 197));
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 13px lightgray;
}
.card-footer{
    border-top: none;
    background-color: white;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: slategrey;
}
#subscribe .buy-now-button{
    margin-top: 8px;
}
footer{
    text-align: center;
}